<?xml version="1.0"?>

<launch>  
    <arg name="use_hand" default="false"/>
    <arg name="show_info" default="true"/>

    <!-- robot_ip: IP-address of the robot's socket-messaging server -->
    <!-- <arg name="robot_ip" doc="IP of the controller" /> -->

    <!-- robot driver -->
    <node name="mantra_driver" pkg="mantra_driver" type="mantra_driver" output="screen">
        <param name="with_hand" value="$(arg use_hand)" />
        <param name="show_info" value="$(arg show_info)" />
    </node>
</launch>
